@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input spinners while keeping functionality */
.input-no-spin::-webkit-outer-spin-button,
.input-no-spin::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.input-no-spin {
	appearance: textfield;
	-moz-appearance: textfield; /* Firefox */
	-webkit-appearance: textfield; /* WebKit */
}
